# Ignore build directories
build/
*/build/
out/
*/out/

# Ignore other common temporary/unnecessary files
*.log
.DS_Store
.git/
.gitignore
README.md
LICENSE

# Don't need to copy Podman files into the container.
Containerfile
.dockerignore